<!DOCTYPE html>
<html ng-app="dashboard" ng-controller="DashboardController as main">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{main.server.name}} {{main.productName}}</title>
    <!-- Stub console functions to avoid refresh problems with IE -->
    <script>
        (function () {
            var method;
            var noop = function () {
            };
            var methods = [
                'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
                'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
                'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
                'timeline', 'timelineEnd', 'timeStamp', 'trace', 'warn'
            ];
            var length = methods.length;
            var console = (window.console = window.console || {});

            while (length--) {
                method = methods[length];

                // Only stub undefined methods.
                if (!console[method]) {
                    console[method] = noop;
                }
            }
        }());
    </script>

    <!-- >
        Hier sollen alle externen CSS-Dateien des Clients eingebunden sein
    <-->
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="lib/css/ng-table.min.css"/>
    <link rel="stylesheet" href="lib/css/angular-toggle-switch-bootstrap-3.css" />

    <link rel="stylesheet" href="css/ims.css"/>

    <!-- >
        Hier sollen alle externen JavaScript-Dateien des Clients eingebunden sein
    <-->
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/angular-animate.min.js"></script>
    <script src="lib/js/angular-aria.min.js"></script>
    <script src="lib/js/angular-messages.min.js"></script>
    <script src="lib/js/angular-resource.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/js/q.min.js"></script>
    <script src="lib/js/jsoneditor.min.js"></script>
    <script src="lib/js/moment.min.js"></script>
    <script src="lib/js/ng-table.min.js"></script>
    <script src="lib/js/angular-toggle-switch.min.js"></script>


    <script src="js/app.js"></script>

    <script src="js/services/heartbeatREST.js"></script>
    <script src="js/services/configurationREST.js"></script>
    <script src="js/services/serviceCommandREST.js"></script>
    <script src="js/services/servicesREST.js"></script>
    <script src="js/services/unknownServicesREST.js"></script>
    <script src="js/services/messagesREST.js"></script>
    <script src="js/services/queryREST.js"></script>

    <script src="js/filters/bytesToString.js"></script>
    <script src="js/filters/dateTimeToString.js"></script>
    <script src="js/filters/sumOfValues.js"></script>
    <script src="js/filters/timeDiffToString.js"></script>

    <script src="js/components/imsRestartModal.js"></script>

    <script src="js/components/imsHeartbeatInfo.js"></script>
    <script src="js/components/imsConfigurationInfo.js"></script>
    <script src="js/components/imsHelp.js"></script>

    <script src="js/components/imsDashboardLauncher.js"></script>
    <script src="js/components/imsServices.js"></script>
    <script src="js/components/imsUnknownServices.js"></script>
    <script src="js/components/imsConfiguration.js"></script>
    <script src="js/components/imsMessages.js"></script>

    <script src="js/components/imsStatusBar.js"></script>
    <script src="js/components/imsFooter.js"></script>

    <script src="js/controllers/dashboard.js"></script>
</head>

<body>
<!--[if lt IE 9]>
<div class="ieError">
    <h1>This Dashboard is not compatible with your Internet Explorer version. </h1>
    <h1>Please update to Internet Explorer 9 or higher!</h1>
</div>
<![endif]-->

<div class="container-fluid dashboard contentStdWidth">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<ims-header heartbeat="main.heartbeat" server-state="main.server.state" ></ims-header>-->
            <img src="img/ImsLogo.svg" class="imsLogo pull-left" alt="IMS Logo"/>
            <ims-heartbeat-info heartbeat="main.heartbeat" connected="main.server.state.isConnected"></ims-heartbeat-info>
            <ims-configuration-info></ims-configuration-info>
            <ims-help></ims-help>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <ims-status-bar status-message="main.statusMessage"></ims-status-bar>
            <!--<ims-body server="main.server" services="main.services" messages="main.messages" unknown-services="main.unknownServices"></ims-body>-->
            <div ng-class="main.server.state.tabSetClass">
                <!--<ims-tabs server="main.server" services="main.services" messages="main.messages" unknown-services="main.unknownServices"></ims-tabs>-->
                <uib-tabset id="mainTabs" active="main.currentTabIndex">
                    <uib-tab>
                        <uib-tab-heading>Dashboard Launcher</uib-tab-heading>
                        <div class="tabContainer">
                            <ims-dashboard-launcher services="main.services"></ims-dashboard-launcher>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Services</uib-tab-heading>
                        <div class="tabContainer">
                            <ims-services services="main.services" system="main.system"></ims-services>
                        </div>
                    </uib-tab>
                    <!--<uib-tab>
                        <uib-tab-heading>Unknown Services</uib-tab-heading>
                        <div class="tabContainer">
                            <ims-unknown-services unknown-services="main.unknownServices"></ims-unknown-services>
                        </div>
                    </uib-tab>-->
                    <uib-tab>
                        <uib-tab-heading>Configuration</uib-tab-heading>
                        <div class="tabContainer">
                            <ims-configuration connected="main.server.state.isConnected" configStatus="main.configStatus"></ims-configuration>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>Messages</uib-tab-heading>
                        <div class="tabContainer">
                            <ims-messages messages="main.messages"></ims-messages>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>

        </div>
        <div class="panel-footer">
            <ims-footer heartbeat="main.heartbeat"></ims-footer>
        </div>
    </div>
</div>
</body>
</html>
